{#{% extends "team/base.html" %}#}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'vendor/datepicker/css/bootstrap-datepicker.min.css' %}">
{% endblock %}
{% block pageTitle %}
    <h3 class="titleTop">Register Driver</h3>
{% endblock %}
{% block content %}
    {#    <div class="right_col" role="main">#}
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <form class="form-horizontal form-label-left" id="register-driver-form"
                              data-parsley-trigger="input">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="invoice_number">Driver
                                    name<span
                                            class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="name" placeholder="Enter Driver Name"
                                           class="form-control col-md-7 col-xs-12"
                                           data-parsley-error-message="Please Enter Driver name"
                                           maxlength="50" data-parsley-minlength="3" data-parsley-maxlength="50"
                                           required="required">
                                </div>
                            </div>


                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Driver Phone Number<span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control col-md-7 col-xs-12"
                                           name="phone" data-parsley-type="digits"
                                           maxlength="10"
                                           data-parsley-minlength="10"
                                           data-parsley-maxlength="10"
                                           placeholder="Enter Driver Phone Number "
                                           required="required">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Enter Driver's Alt Phone
                                    Number 1
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control col-md-7 col-xs-12"
                                           name="alt_phone" data-parsley-type="digits"
                                           data-parsley-minlength="10"
                                           data-parsley-maxlength="10"
                                           placeholder="Enter Driver's Alt Phone Number 1 ">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Enter Driver's Alt Phone
                                    Number 2
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control col-md-7 col-xs-12"
                                           name="alt_phone2" data-parsley-type="digits"
                                           data-parsley-minlength="10"
                                           data-parsley-maxlength="10"
                                           placeholder="Enter Driver's Alt Phone Number 2">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">DL Number </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control col-md-7 col-xs-12"
                                           data-parsley-minlength="3"
                                           data-parsley-maxlength="100"
                                           name="driving_licence_number" placeholder="Enter DL Number">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">DL Validity </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control col-md-7 col-xs-12"
                                           name="driving_licence_validity" id="dl_validity"
                                           placeholder="Enter DL Validity"
                                           readonly style="background-color: white">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Driver DL City</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="driver_city form-control" name="driving_licence_location" id="city">
                                        <option></option>
                                    </select>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Route</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control col-md-7 col-xs-12"
                                           data-parsley-minlength="3"
                                           data-parsley-maxlength="100"
                                           name="route" placeholder="Enter Driver's Route">
                                </div>
                            </div>


                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button id="resetRegisterDriver" class="btn btn-lg btn-danger">Reset Entry</button>
                                    <button id="btn-register-driver" class="btn btn-lg btn-success">Register
                                        Driver
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    </div>#}

{% endblock %}
{% block js %}
    <script src="{% static "vendor/parsley/js/parsley.min.js" %}" type="text/javascript"></script>
    <script src="{% static "vendor/select2/js/select2.min.js" %}" type="text/javascript"></script>
    <script src="{% static "vendor/notify/notify.min.js" %}" type="text/javascript"></script>
    <script src="{% static "vendor/moment/js/moment.min.js" %}" type="text/javascript"></script>
    <script src="{% static "vendor/datepicker/js/bootstrap-datepicker.min.js" %}"
            type="text/javascript"></script>
    <script src="{% static "aaho/jquery.serializejson.js" %}" type="text/javascript"></script>
    <script src="{% static "aaho/js/team/register-driver.js" %}?v={% now 'U' %}" type="text/javascript"></script>
    <script src="{% static "aaho/js/team/common-new.js" %}?v={% now 'U' %}" type="text/javascript"></script>
{% endblock %}