{#{% extends "team/base.html" %}#}
{% load staticfiles %}
{% load helper_tags_team %}
{% block css %}
    <link href="{% static "vendor/select2/css/select2.min.css" %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css"
          href="{% static 'vendor/datepicker/css/bootstrap-datepicker.min.css' %}">
{% endblock %}
{% block pageTitle %}
    <h3 class="titleTop">Update Vehicle</h3>
{% endblock %}
{% block content %}
    {#    <div class="right_col" role="main">#}
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <form class="form-horizontal form-label-left" id="update-vehicle-form"

                              data-parsley-trigger="input">
                            <input type="hidden" name="vehicle_id" id="vehicleId" value="{{ id }}">
                            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                                <div class="item form-group ">
                                    <label class="control-label" for="vehicle_number">Vehicle Number <span
                                            class="required">*</span></label>
                                    <input type="text" class="form-control col-md-7 col-xs-12"
                                           name="vehicle_number" id="vehicle_number"
                                           placeholder="Enter Vehicle Number"
                                           data-parsley-pattern="/^[A-Z]{2}[ -.]*\d{1,2}[ -.]*[A-Z]{0,3}[ -.]*\d{4}$/i"
                                           data-parsley-error-message="Please Enter Valid Vehicle Number"
                                           value="{% display_vehicle_number_format vehicle_number %}"
                                           data-parsley-minlength="8" data-parsley-maxlength="14" required>
                                </div>
                                <div class="item form-group">
                                    <label for="owner_id">Owner</label>
                                    <select class="form-control" name="owner" id="owner_id">
                                        {% if owner_data.id != -1 %}
                                            <option value="{{ owner_data.id }}"
                                                    selected>{{ owner_data.name }}, {{ owner_data.phone|default_if_none:'' }}</option>
                                        {% endif %}
                                        <option></option>
                                    </select>
                                </div>
                                <div class="item form-group ">
                                    <label class="control-label">RC Number </label>
                                    <input type="text" class="form-control" name="rc_number"
                                           value="{{ rc_number|default:'' }}" data-parsley-minlength="8"
                                           data-parsley-maxlength="12" placeholder="Enter RC Number">
                                </div>
                                <div class="item form-group ">
                                    <label class="control-label">Permit Number </label>
                                    <input type="text" class="form-control" name="permit" data-parsley-minlength="3"
                                           data-parsley-maxlength="20" value="{{ permit|default_if_none:'' }}"
                                           placeholder="Enter Permit Number">
                                </div>
                                <div class="item form-group ">
                                    <label class="control-label">Vehicle Model</label>
                                    <input type="text" class="form-control" name="vehicle_model"
                                           value="{{ vehicle_model|default:'' }}" data-parsley-minlength="3"
                                           data-parsley-maxlength="20" placeholder="Enter Vehicle Model">
                                </div>
                                <div class="item form-group ">
                                    <label class="control-label">Insurer</label>
                                    <input type="text" class="form-control" name="insurer"
                                           value="{{ insurer|default:'' }}" data-parsley-minlength="3"
                                           data-parsley-maxlength="100" placeholder="Enter Insurer">
                                </div>
                                <div class="item form-group ">
                                    <label class="control-label">Fitness Certificate Number</label>
                                    <input type="text" class="form-control" name="fitness_certificate_number"
                                           value="{{ fitness_certificate_number|default:'' }}"
                                           data-parsley-minlength="3" data-parsley-maxlength="100"
                                           placeholder="Enter Fitness Certificate Number">
                                </div>
                                <div class="item form-group ">
                                    <label class="control-label">PUC Certificate Number</label>
                                    <input type="text" class="form-control" name="puc_certificate_number"
                                           value="{{ puc_certificate_number|default:'' }}" data-parsley-minlength="3"
                                           data-parsley-maxlength="20" placeholder="Enter PUC Certificate Number">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                                <div class="item form-group">
                                    <label for="vehicle_category">Vehicle Category <span
                                            class="required">*</span></label>
                                    <select class="truck-category form-control" name="vehicle_type"
                                            required>
                                        <option></option>
                                        {% if vehicle_type_data %}
                                            <option value="{{ vehicle_type_data.id }}"
                                                    selected>{{ vehicle_type_data.name }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="item form-group">
                                    <label for="gps_enable">GPS Device Status <span
                                            class="required">*</span></label>
                                    <select class="form-control" name="gps_enabled" id="gps_enable"
                                            required>
                                        <option></option>
                                        {% if gps_enabled %}
                                            <option value='yes' selected>Yes</option>
                                        {% else %}
                                            <option value='no' selected>No</option>
                                        {% endif %}

                                    </select>
                                </div>

                                <div class="item form-group ">
                                    <label class="control-label">Registration Validity</label>
                                    <input type="text" class="date form-control" readonly
                                           style="background-color: white" name="registration_validity"
                                           value="{{ registration_validity |default_if_none:'' }}"
                                           data-parsley-minlength="3"
                                           data-parsley-maxlength="100"
                                           placeholder="Select Registration Year">
                                </div>
                                <div class="item form-group ">
                                    <label class="control-label">Permit Type </label>
                                    <input type="text" class="form-control" name="permit_type"
                                           value="{{ permit_type|default:'' }}" data-parsley-minlength="3"
                                           data-parsley-maxlength="30" placeholder="Enter Permit Type">
                                </div>
                                <div class="item form-group ">
                                    <label class="control-label">Engine Number</label>
                                    <input type="text" class="form-control" name="engine_number"
                                           value="{{ engine_number|default:'' }}" data-parsley-minlength="3"
                                           data-parsley-maxlength="30" placeholder="Enter Engine Number">
                                </div>
                                <div class="item form-group ">
                                    <label class="control-label">Insurance Number</label>
                                    <input type="text" class="form-control" name="insurance_number"
                                           value="{{ insurance_number|default:'' }}" data-parsley-minlength="3"
                                           data-parsley-maxlength="30" placeholder="Enter Insurance Number">
                                </div>
                                <div class="item form-group ">
                                    <label class="control-label">Fitness Certificate Issued on</label>
                                    <input type="text" class="past-date form-control" readonly
                                           style="background-color: white" name="fitness_certificate_issued_on"
                                           value="{{ fitness_certificate_issued_on|default_if_none:'' }}"
                                           placeholder="Select Fitness Certificate Issued on">
                                </div>
                                <div class="item form-group ">
                                    <label class="control-label">PUC Certificate Issued on</label>
                                    <input type="text" class="past-date form-control" readonly
                                           style="background-color: white" name="puc_certificate_issued_on"
                                           value="{{ puc_certificate_issued_on|default_if_none:'' }}"
                                           placeholder="Select PUC Certificate Issued on">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">

                                <div class="item form-group">
                                    <label for="vehicle_body_type">Body Type <span
                                            class="required">*</span></label>
                                    <select class="form-control" name="body_type" id="vehicle_body_type"
                                            required>
                                        <option></option>
                                        {% if body_type %}
                                            <option value="{{ body_type }}"
                                                    selected> {{ body_type }}</option>
                                        {% endif %}

                                    </select>
                                </div>
                                <div class="item form-group ">
                                    <label class="control-label">Exact Vehicle Capacity in Kg </label>
                                    <input type="number" class="form-control" name="vehicle_capacity"
                                           placeholder="Enter Exact Vehicle Capacity in Kg"
                                           value="{{ vehicle_capacity|default:0 }}"
                                           data-parsley-min="0" data-parsley-max="9999"
                                           data-parsley-error-message="Please Enter Numeric Value Only">
                                </div>
                                <div class="item form-group ">
                                    <label class="control-label">Registration Year</label>
                                    <input type="text" class="year form-control" readonly
                                           style="background-color: white" name="registration_year"
                                           value="{{ registration_year|slice:"7:"|default_if_none:'' }}"
                                           placeholder="Select Registration Year">
                                </div>

                                <div class="item form-group ">
                                    <label class="control-label">Permit Validity </label>
                                    <input type="text" class="date form-control" readonly
                                           style="background-color: white" name="permit_validity"
                                           value="{{ permit_validity |default_if_none:'' }}"
                                           placeholder="Select Permit Validity">
                                </div>
                                <div class="item form-group ">
                                    <label class="control-label">Chassis Number</label>
                                    <input type="text" class="form-control" name="chassis_number"
                                           value="{{ chassis_number|default:'' }}"
                                           data-parsley-minlength="3"
                                           data-parsley-maxlength="35"
                                           placeholder="Enter Chassis Number">
                                </div>

                                <div class="item form-group ">
                                    <label class="control-label">Insurance Validity</label>
                                    <input type="text" class="date form-control" readonly
                                           style="background-color: white" name="insurance_validity"
                                           value="{{ insurance_validity|default_if_none:'' }}"
                                           placeholder="Enter Insurance Validity">
                                </div>

                                <div class="item form-group ">
                                    <label class="control-label">Fitness Certificate Validity</label>
                                    <input type="text" class="date form-control" readonly
                                           style="background-color: white" name="fitness_certificate_validity"
                                           value="{{ fitness_certificate_validity_date |default_if_none:'' }}"
                                           placeholder="Enter Fitness Certificate Validity ">
                                </div>
                                <div class="item form-group ">
                                    <label class="control-label">PUC Certificate Validity</label>
                                    <input type="text" class="date form-control" readonly
                                           style="background-color: white" name="puc_certificate_validity"
                                           value="{{ puc_certificate_validity_date|default_if_none:'' }}"
                                           placeholder="Enter PUC Certificate Validity ">
                                </div>
                            </div>
                            <div class="ln_solid col-md-12 col-xs-12 col-sm-12 col-lg-12"></div>
                            <div class="form-group col-md-12 col-xs-12 col-sm-12 col-lg-12">
                                <button id="btn-update-vehicle" class="btn btn-lg btn-success">UPDATE VEHICLE
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    </div>#}
{% endblock %}
{% block js %}
    <script src="{% static "vendor/parsley/js/parsley.min.js" %}" type="text/javascript"></script>
    <script src="{% static "vendor/select2/js/select2.min.js" %}" type="text/javascript"></script>
    <script src="{% static "vendor/notify/notify.min.js" %}" type="text/javascript"></script>
    <script src="{% static "vendor/moment/js/moment.min.js" %}" type="text/javascript"></script>
    <script src="{% static "vendor/datepicker/js/bootstrap-datepicker.min.js" %}" type="text/javascript"></script>
    <script src="{% static "aaho/jquery.serializejson.js" %}" type="text/javascript"></script>
    <script src="{% static "aaho/js/team/common-new.js" %}?v={% now 'U' %}" type="text/javascript"></script>
    <script src="{% static "aaho/js/team/update-vehicle.js" %}?v={% now 'U' %}" type="text/javascript"></script>
{% endblock %}