{% extends "sme/base.html" %}
{% load staticfiles %}
{% block css %}
    
{% endblock %}
{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">

        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3> Truck Guide</h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">

                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <img style="width: 100%; display: block;"
                                                 src="{% static "aaho/images/truck/TataAce.jpg" %}" alt="image"/>
                                        </div>
                                        <div class="caption">
                                            <p>Tata Ace(6*4*4)ft</p>
                                            <p>Capacity: 1 tonnes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <img style="width: 100%; display: block;"
                                                 src="{% static "aaho/images/truck/Pickup.jpg" %}" alt="image"/>
                                        </div>
                                        <div class="caption">
                                            <p>Pick Up(8*5*5)ft</p>
                                            <p>Capacity: 1 tonnes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <img style="width: 100%; display: block;"
                                                 src="{% static "aaho/images/truck/Tata407.jpg" %}" alt="image"/>
                                        </div>
                                        <div class="caption">
                                            <p>Tata 407(10*6*6)ft</p>
                                            <p>Capacity: 2.5 tonnes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <img style="width: 100%; display: block;"
                                                 src="{% static "aaho/images/truck/14_feet_open.jpg" %}" alt="image"/>
                                        </div>
                                        <div class="caption">
                                            <p>14 Feet Open(14*6*6)ft</p>
                                            <p>Capacity: 4 tonnes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <img style="width: 100%; display: block;"
                                                 src="{% static "aaho/images/truck/17_feet_open.jpg" %}" alt="image"/>
                                        </div>
                                        <div class="caption">
                                            <p>17 Feet Open(17*6*6)ft</p>
                                            <p>Capacity: 5 tonnes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <img style="width: 100%; display: block;"
                                                 src="{% static "aaho/images/truck/17_feet_closed.jpg" %}" alt="image"/>
                                        </div>
                                        <div class="caption">
                                            <p>17 Feet Closed(17*6*7)ft</p>
                                            <p>Capacity: 5 tonnes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <img style="width: 100%; display: block;"
                                                 src="{% static "aaho/images/truck/19feetopen.jpg" %}" alt="image"/>
                                        </div>
                                        <div class="caption">
                                            <p>19 Feet Open(19*7*7)ft</p>
                                            <p>Capacity: 7 tonnes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <img style="width: 100%; display: block;"
                                                 src="{% static "aaho/images/truck/10_tyre_16_ton.jpg" %}" alt="image"/>
                                        </div>
                                        <div class="caption">
                                            <p>10 Tyre Taurus(22*7.5*8)ft</p>
                                            <p>Capacity: 15 tonnes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <img style="width: 100%; display: block;"
                                                 src="{% static "aaho/images/truck/20_feet_trailer.jpg" %}"
                                                 alt="image"/>
                                        </div>
                                        <div class="caption">
                                            <p>20 Feet High Bed Trailer(20*8*8)ft</p>
                                            <p>Capacity: 25 tonnes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <img style="width: 100%; display: block;"
                                                 src="{% static "aaho/images/truck/22feetclosed.jpg" %}" alt="image"/>
                                        </div>
                                        <div class="caption">
                                            <p>22 Feet Closed(22*7.5*8)ft</p>
                                            <p>Capacity: 7 tonnes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <img style="width: 100%; display: block;"
                                                 src="{% static "aaho/images/truck/34feetsingleaxle.jpg" %}"
                                                 alt="image"/>
                                        </div>
                                        <div class="caption">
                                            <p>34 Feet Single Axle(34*8*8)ft</p>
                                            <p>Capacity: 7 tonnes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <img style="width: 100%; display: block;"
                                                 src="{% static "aaho/images/truck/34_feet_multi_axle.jpg" %}"
                                                 alt="image"/>
                                        </div>
                                        <div class="caption">
                                            <p>34 Feet Multi Axle(34*8*8)ft</p>
                                            <p>Capacity: 14 tonnes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <img style="width: 100%; display: block;"
                                                 src="{% static "aaho/images/truck/40feethighbed.jpg" %}" alt="image"/>
                                        </div>
                                        <div class="caption">
                                            <p>40 Feet High Bed(40*8*8)ft</p>
                                            <p>Capacity: 20 tonnes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <img style="width: 100%; display: block;"
                                                 src="{% static "aaho/images/truck/40feetlowbed.jpg" %}" alt="image"/>
                                        </div>
                                        <div class="caption">
                                            <p>40 Feet Semi Low Bed(40*8*10)ft</p>
                                            <p>Capacity: 20 tonnes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <img style="width: 100%; display: block;"
                                                 src="{% static "aaho/images/truck/truck_sketch.jpg" %}" alt="image"/>
                                        </div>
                                        <div class="caption">
                                            <p>32 FEET TRIPLE AXLE CLOSE(32*8*8)ft</p>
                                            <p>Capacity: 20 tonnes</p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->

{% endblock %}
{% block js %}
    <!-- FastClick -->
    <script src="{% static "vendor/fastclick/fastclick.min.js" %}"></script>
{% endblock %}