<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="ie6" lang="en" dir='ltr'> <![endif]-->
<!--[if IE 8 ]><html class="ie8" lang="en" dir='ltr'> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!-->
<html lang="en" dir='ltr'><!--<![endif]-->
<head>
    <!--[if lt IE 8]>
    <meta HTTP-EQUIV="REFRESH" content="0; url='/badbrowser'">
    <![endif]-->

    <meta charset="UTF-8">

    <title>Account security tips | Aaho Help Center</title>

    <meta content="&lt;h3&gt;Keeping your account secure&lt;/h3&gt;
&lt;p&gt;We want Twitter to be a safe and open community. This help page provides some information and tips to help you practice safe Tweeting and keep your account sec"
          name="description"/>
    <meta name="twitter:widgets:csp" content="on">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Account security tips"/>
    <meta name="twitter:url" content="https://support.twitter.com/articles/76036"/>
    <meta name="twitter:description" content="
To help keep your account secure, we recommend the following best practices:

Use a strong password that you don’t reuse on other websites.
Use login verifica"/>
    <meta name="twitter:creator" content="Bantuan"/>
    <meta name="twitter:site" content="@support"/>
    <meta name="twitter:image"
          content="https://hca.twimg.com/assets/apple-touch-icon-120x120-a2013dc98b3febfcde5a4e2a3ffe663ed0a2de82404421373e36c3070cd49d08.png"/>


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel="canonical" href="https://help.twitter.com/articles/76036?lang=en"/>


    <link rel="stylesheet" media="all" href="https://abs.twimg.com/font/gotham-narrow-v3.css"/>
    <!--[if IE 8 ]>
      <link href="https://support.twitter.com/assets/application-b4887afbc992c200d957df3a42e1edf0da937ada70517b7e5f7f2aa9f5ee168b.css" media="all" rel="stylesheet">
      <link href="https://support.twitter.com/assets/ie8-d7144f4525f38c8748a0fbefa0ee0c59fbb99b131b2ca7aa7489ebf6d4c7dda0.css" media="all" rel="stylesheet">
      <script src="https://hca.twimg.com/assets/lib/html5shiv.min-e87bcce4761b410d32df511bc602a89913a89bf460d121a7736175817d57552a.js"></script>
      <script src="https://hca.twimg.com/assets/lib/respond.min-e04f428122bb643cb933c18b81e3c1ebadab8ef60857cc071424996c76e166b5.js"></script>
    <![endif]-->
    <!--[if (gt IE 8)|!(IE)]><!-->
    <link rel="stylesheet" media="all"
          href="https://hca.twimg.com/assets/application-b4887afbc992c200d957df3a42e1edf0da937ada70517b7e5f7f2aa9f5ee168b.css"/>
    <!--<![endif]-->

</head>
<body
        class="article"
        data-rack-env="production"
        data-user-id=""
        data-screenname="" ontouchstart>
<main class="container" dir="ltr">
    <div class="row">

        <div class="col-md-9 col-sm-8 col-xs-12">
            <article>
                <header style="margin-top: 10rem">
                    <h1 class="page-title h2">Account security tips</h1>
                </header>


                <!-- article body content -->
                <body>
                <p>To help keep your account secure, we recommend the following best practices:<br><br></p>
                <ul>
                    <li>Use a strong password that you don’t reuse on other websites.</li>
                    <li>Use login verification.</li>
                    <li>Be cautious of suspicious links and always make sure you’re on aaho.in before you enter your
                        login information.
                    </li>
                    <li>Never give your username and password out to third parties, especially those promising to get
                        you followers, make you money, or verify you.
                    </li>
                    <li>Make sure your computer software, including your browser, is up-to-date with the most recent
                        upgrades and anti-virus software.
                    </li>
                    <li>If you think your account has been compromised, drop a mail at info@aaho.in
                    </li>
                </ul>

                <h3>
                    <a id="password"></a>Password strength</h3>
                <p>Create a strong and unique password for your Aaho account. You should also create an equally
                    strong and unique password for the email address associated with your Aaho account.</p>
                <p><strong>Do’s:</strong></p>
                <ul>
                    <li>
                        <strong>Do</strong> create a password at least 10 characters long. Longer is better.
                    </li>
                    <li>
                        <strong>Do</strong> use use a mix of uppercase, lowercase, numbers, and symbols.
                    </li>
                    <li>
                        <strong>Do</strong> use a different password for each website you visit.
                    </li>
                    <li>
                        <strong>Do</strong> keep your password in a safe place. Consider using password management
                        software to store all of your login information securely.
                    </li>
                </ul>
                <p><strong>Don’ts:</strong></p>
                <ul>
                    <li>
                        <strong>Do not</strong> use personal information in your password such as phone numbers,
                        birthdays, etc.
                    </li>
                    <li>
                        <strong>Do not</strong> use common dictionary words such as “password”, “iloveyou”, etc.
                    </li>
                    <li>
                        <strong>Do not</strong> use sequences such as ”abcd1234”, or keyboard sequences like “qwerty”.
                    </li>
                    <li>
                        <strong>Do not</strong> reuse passwords across websites. Your Aaho account password should be
                        unique to Aaho.
                    </li>
                </ul>

                </body>


            </article>
        </div>
    </div>
</main>


<script src="https://hca.twimg.com/assets/shared/widget-228945d47d31f987446ffceb9b5fa1bb6d217d323b3c2dcf694b8c70c7e50ea9.js"></script>
<span class="hide" id="google_analytics_1" data-value="en"></span>
<span class="hide" id="google_analytics_3" data-value="false"></span>

<script src="https://hca.twimg.com/assets/shared/google_analytics-47dcde443c3d335114de5783b908314c50a616b44bec290a7786780102a47fbe.js"></script>

</body>
</html>
