<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description"
          content="Aaho is a one-stop solution for online truck booking for inter-city and inter-state road freight. Book, track, pay for and manage all your truck needs here.">

    <meta name="keywords"
          content="aaho, trans IQ, transiq, trans iq tech, transiq tech, trucks for hire, hire trucks, truck booking, freight booking, online truck booking, book truck online, hire truck online, intercity trucks, inter state trucks, truck transport india, trucking business india, logistics India, logistics technology">

    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/aaho/images/logo/logo.png" type="image/x-icon"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/static/aaho/images/logo/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/aaho/images/logo/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/aaho/images/logo/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/aaho/images/logo/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/aaho/images/logo/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/aaho/images/logo/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/aaho/images/logo/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/aaho/images/logo/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/aaho/images/logo/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/aaho/images/logo/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/aaho/images/logo/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/aaho/images/logo/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/aaho/images/logo/favicon-16x16.png">
    <link rel="manifest" href="/static/aaho/images/logo/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Aaho - Online Truck Booking</title>

    <!-- Bootstrap -->
    <link href="{% static "vendor/bootstrap/3.3.6/css/bootstrap.min.css" %}" rel="stylesheet"   >
    <link href="{% static "vendor/gentelella/css/custom.min.css" %}" rel="stylesheet">
</head>
<body >
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="col-md-1"></div>
<div class="x_panel col-md-11">
    <div class="x_content">
        <h3 align="center"><b><u>PRIVACY POLICY</u></b></h3>
        <p>Welcome, and thank You for your interest in Aaho (“Company”, “We,” or “Us” or “Our”), and our web site, as
            well as all related web-based platforms, websites, networks, embeddable widgets, downloadable software, and
            other services provided by us and on which there is a link to this Privacy Policy. This Privacy Policy is in
            order for You to understand how We collect, use, communicate and disclose and make use of such personal
            information. We request You to read the following statement to learn about our information gathering and
            dissemination practices.</p>
        <p><b><u>COLLECTION OF INFORMATION</u></b></p>
        <p>When You use our Website, We collect and store your personal information which is provided by You from time
            to time. Our Company collects the Clients’ information relating to the Customer(s)/User(s) load
            requirements, Vehicle requirements, truck owners information and other relevant information for the purpose
            of registration and use of the Services of the Company. </p>
        <p>This allows us to provide services and features that most likely meet your needs, and to customize our
            Website to make your experience safer and easier. The Company may also compile data about your transactions
            with the Company and with the business affiliates, incorporating information about your utilization of
            services that We offer. These data are added to the information We already have on You and help us to serve
            You better.</p>
        <p>Please note that You can browse the Website without telling us who You are or revealing any personal
            information about yourself. Once You give us your personal information and register on Our Site You are not
            anonymous to us. Where possible, We indicate which fields are required and which fields are optional. You
            always have the option to not provide information by choosing not to use a particular service or feature on
            the Website. We may automatically track certain information about You based upon your behavior on our
            Website. We use this information to do internal research on our users' demographics, interests, and behavior
            to better understand, protect and serve our users.</p>
        <p><b>USE OF THE INFORMATION</b></p>
        <p>As per the Company’s policy, the personal information provided by You is used to provide the services at your
            request. To the extent We use your personal information to market to You, We will provide You the ability to
            opt-out of such uses. We use your personal information to resolve disputes, troubleshoot problems, help
            promote a safe service, collect money, measure consumer interest in our services, inform You about online
            and offline offers, products, services, and updates, customize your experience, detect and protect us
            against error, fraud and other criminal activity, enforce our terms and conditions and as otherwise
            described to You at the time of collection. Please note that the data collected by the Company helps to
            identify You and We use the information that We collect on the Service to understand and analyze the usage
            trends and preferences of our users, to improve the Service, and to develop new products, services,
            features, and functionality.</p>
        <p>In Our efforts to continually improve Our service offerings, We collect and analyze demographic and profile
            data about our users' activity on our Website. We identify and use your IP address to help diagnose problems
            with our server, and to administer our Website. We will occasionally ask You to complete optional online
            surveys. By using the Website and/ or by providing your information, You consent to the collection and use
            of the information You disclose on the Website in accordance with this Privacy Policy, including but not
            limited to Your consent for sharing your information as per this privacy policy. </p>
        <p><b><u>COOKIES</u></b></p>
        <p>Please take note that the Cookies are pieces of information that are automatically stored in a person’s hard
            drive upon his / her use of a Website, to enable the browser to track the information provided by a user. In
            the event a user rejects cookies, he may not be able to have access to some of the features or the services
            offered by the website. We may use “cookies” information and “automatically collected” information We
            collect during the Service to: (i) personalize our services, such as remembering your information so that
            You will not have to re-enter it during your visit or the next time You visit the Service; (ii) provide
            customized advertisements, content, and information; (iii) monitor and analyze the effectiveness of Service
            and third-party marketing activities; (iv) monitor aggregate Service usage metrics such as total number of
            visitors and pages viewed; (v) track your entries, submissions, and status in any promotions or other
            activities on the Service; (vi) in the case of Shippers and truckers, to track the location of the parcels
            being tracked through the Service.</p>
        <p><b><u>PERSONAL INFORMATION DISCLOSURES</u></b></p>
        <p>The Company as per its policy may disclose and share the Users personal information with the Company’s other
            corporate entities and affiliates to help detect and prevent identity theft, fraud and other potentially
            illegal acts or multiple accounts to prevent abuse of our services. Those entities and affiliates may not
            market to You as a result of such sharing unless You explicitly opt-in.</p>
        <p>The Company provides that it is important to share the data to achieve the objective to explore, avoid, or
            initiate movement in regards to illicit exercises, suspected cheating, circumstances including potential
            dangers to the physical security of any individual, violations of General Terms and Conditions of the
            Company. The Company may disclose personal information if required to do so by law or in the good faith
            belief that such disclosure is reasonably necessary to respond to Summons, court Orders or other legal
            proceedings. The Company may disclose personal information to law enforcement offices, third party rights
            owners, or others in the good faith belief that such disclosure is reasonably necessary to: enforce our
            Terms and Conditions or Privacy Policy. </p>
        <p>The Company provides that it may share some or all of your personal information with another business entity
            in the event the Company plans to merge with, or be acquired by that business entity, or re-organization,
            amalgamation, restructuring of business. Such a transaction occurs that other business entity (or the new
            combined entity) will be required to follow this privacy policy with respect to your personal
            information.</p>
        <p><b><u>SECURITY AND PRIVACY</u></b></p>
        <p>As per the Company’s strict policy, please note that the Website inherently has stringent security measures
            in place to protect the loss, misuse, and alteration of the information under Our control. In the event You
            change or access Your account information, the Company offers the use of a secure server. Once your
            information is in our possession We adhere to strict security guidelines, protecting it against unauthorized
            access.</p>
        <p><b><u>THIRD PARTY LINKS TO OTHER WEBSITES</u></b></p>
        <p>Please note that the Company may work with third party service providers to provide website development,
            hosting, maintenance, and other services for us. These third parties may have access to or process your
            information as part of providing those services for us. Our website may contain links to other websites of
            interest. However, once You have used these links to leave our site, You should note that We do not have any
            control over the other website. Therefore, the Company cannot be responsible for the protection and privacy
            of any information, which You provide whilst visiting such sites and this privacy statement does not govern
            such sites. The Company as per its discretion, may sell or trade or host products of other third party
            companies in our websites. The Third Party links may have their own policies and are administered by them;
            the users are requested to check their policies for more information. The Company may make certain
            automatically-collected, aggregated, or otherwise non-personally-identifiable information available to third
            parties for various purposes, including (i) compliance with various reporting obligations; (ii) for business
            or marketing purposes; or (iii) to assist such parties in understanding our users’ interests, habits, and
            usage patterns for certain programs, content, services, advertisements, promotions, and/or functionality
            available through the Service.</p>
        <p><b><u>CONTROLLING YOUR PERSONAL INFORMATION</u></b></p>
        <p>The Company at its discretion may retain all the information collected about You in an effort to make the use
            of the website to be more efficient, practical and relevant until You change or remove your personal data as
            described below. Before providing You with a copy of your personal information or correcting, updating or
            deleting such information, We reserve the right to verify and authenticate your identity and the personal
            information to which You have requested access. Access to or correction, updating or deletion of your
            personal information may be denied or limited by the Company, if it would violate another person(s) rights
            and/or as otherwise permitted by applicable law.</p>
        <p>In the event You wish to delete your account or account information altogether, You can contact us at the
            info@aaho.in. An email will be sent to You to confirm that your personal information has been deleted. The
            archival copy is retained only for as long as the Company reasonably considers necessary for audit and
            record purposes. We will also retain logs, demographic, indirect, and statistical information that may
            relate to You but do not identify You personally. </p>
        <p><b><u>AMENDMENTS </u></b></p>
        <p>As per the Company’s discretion the privacy policy is subject to change at any time without any notice. To
            make sure You are aware of any changes, please review this policy periodically. By visiting this Website You
            agree to be bound by the terms and conditions of this Privacy Policy. If You do not agree please do not use
            or access our Website. By mere use of the Website, You expressly consent to our use and disclosure of your
            personal information in accordance with this Privacy Policy. This Privacy Policy is incorporated into and
            subject to the Terms of Use.</p>
        <p><b><u>CONTACT INFORMATION</u></b></p>
        <p>Please contact us with any questions or comments about this Policy by email at info@aaho.in</p>
    </div>
</div>
</body>
</html>
