<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description"
          content="Aaho is a one-stop solution for online truck booking for inter-city and inter-state road freight. Book, track, pay for and manage all your truck needs here.">

    <meta name="keywords"
          content="aaho, trans IQ, transiq, trans iq tech, transiq tech, trucks for hire, hire trucks, truck booking, freight booking, online truck booking, book truck online, hire truck online, intercity trucks, inter state trucks, truck transport india, trucking business india, logistics India, logistics technology">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/aaho/images/logo/logo.png" type="image/x-icon"/>
    <title>Aaho - Online Truck Booking</title>
    <link rel="stylesheet" type="text/css" href="{% static 'aaho/css/index/reset-password.css' %}">
</head>

<body>
<hgroup>
    {#    <h1>RESET PASSWORD</h1>#}
</hgroup>

<form class="form-horizontal loginForm" role="form" action="/reset-password/" method="POST"
      novalidate>
    {% csrf_token %}
    <div class="group">
        <input type="text" name="username" id="username" required><span class="highlight"></span><span class="bar"></span>
        <label for="username">Username</label>
    </div>
    <ul>
        {% for message in messages.errors %}
            {% if 'error' in message.tags %}
                <li>{{ message }}</li>{% endif %}
        {% endfor %}
    </ul>
    <div class="group">
        <input type="password" name="new_password" id="new_password" required><span class="highlight"></span><span
            class="bar"></span>
        <label for="password">Type your new password</label>
    </div>
    <div class="group">
        <input type="password" name="retype_password" id="retype_password" data-parsley-equalto="#new_password"	 required><span class="highlight"></span><span
            class="bar"></span>
        <label for="password">Type your new password again</label>
    </div>
    <button type="submit" class="button buttonBlue">Reset Password
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
</form>
<!-- jQuery -->
<script src="{% static "jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "vendor/parsley/js/parsley.min.js" %}" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('form').parsley('validate');
    });
</script>
<script src="{% static "aaho/js/index/reset-password.js" %}"></script>
</body>
</html>