amqp==2.1.4
Babel==2.3.4
backports.shutil-get-terminal-size==1.0.0
billiard==3.5.0.2
boto3==1.4.3
botocore==1.4.93
celery==4.0.2
decorator==4.0.10
Django==2.2.24
django-celery==3.1.17
django-storages==1.5.1
docutils==0.13.1
enum34==1.1.6
functools32==3.2.3.post2
futures==3.0.5
ipython==5.1.0
ipython-genutils==0.1.0
jmespath==0.9.0
jsonschema==2.5.1
kombu==4.0.2
lxml==4.6.3
meld3==1.0.2
numpy==1.11.3
olefile==0.44
pandas==0.19.2
pathlib2==2.2.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==9.0.0
pkg-resources==0.0.0
prompt-toolkit==1.0.9
psycopg2==2.6.2
ptyprocess==0.5.1
pygeocoder==1.2.5
Pygments==2.7.4
python-dateutil==2.6.0
pytz==2016.10
reportlab==3.3.0
requests==2.12.4
s3transfer==0.1.10
scandir==1.4
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.1
vine==1.1.3
wcwidth==0.1.7
unittest-xml-reporting==2.1.0
shortuuid==0.5.0
pdfkit==0.6.1
git+git://github.com/rm-hull/Spreadsheet-Table-for-ReportLab.git@efd9c91ed4d765ed2bde97a7a7971a92360c469d
