<!DOCTYPE html>

<html>
    <head>
    </head>
    <body>
        <div>
            <div>Dear Customer,</div>
            <div><br></div>
            <div>Welcome to the Aaho trucking network. Aaho (registered as Trans IQ Technologies Private Limited) is a tech-driven transportation company,
                with a suite of products and solutions for all your long-haul road freight requirements. We serve over 200 customers on 100+ routes all over
                India, with a network of over 4000 verified trucks of all sizes and body types.</div>
            <div><br></div>
            <div>We would like to take this opportunity to introduce the various benefits our customers enjoy, such as:</div>
            <div><br></div>
            <div>1) <b>Shipment Tracking</b>: Track the progress and location of your shipment by visiting
                <a href="http://www.aaho.in" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.aaho.in&amp;source=gmail&amp;ust=1552630548295000&amp;usg=AFQjCNHcvld75nP0b73OrLfyFQHwwuqakw">www.aaho.in</a>
                and simply putting in your LR number.</div>
            <div>2) <b>Online MIS</b>: You can view your entire dispatch summary, invoice and payment history, as well as the relevant trip documentation
                (such as PODs, freight invoices) on our web portal. Please reply to this mail and we'll instantly setup your account for free!</div>
            <div>3) <b>E-waybills</b>: Just send us your invoice / delivery challan and we will generate the E-waybill for you.<br></div>
            {% if customer_cp > 15 %}
                <div>4) <b>Discounts</b>: We offer attractive discounts against advance payment of invoices. Please reply to this mail to know more.</div>
            {% endif %}
            <div><br></div>
            <div></div>
            <div>Additionally, for compliance and taxation purposes, please find attached with this mail:</div>
            <div>1) Our company PAN card </div>
            <div>2) Our declaration for non-deduction of TDS under section 194 </div>
            <div>3) Our MSME registration certificate (for compliance with the 2019 MCA order relating to "Furnishing of information about payment to MSMEs") </div>
            <div> <br></div>
            <div>   We are always happy to hear from customers, so please drop us a line at
                <a href="mailto:info@aaho.in" target="_blank">info@aaho.in</a> anytime for all your queries.<br></div>
            <div><br></div>
            <div>Thanks and Regards
                <div dir="ltr">
                    <div>Team Aaho<br></div>
                    <div></div>
                    <div>Trans IQ Technologies Pvt Ltd</div>
                    <div><a href="http://www.aaho.in" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.aaho.in&amp;source=gmail&amp;ust=1552630548296000&amp;usg=AFQjCNH3X1yc7XU0OJmh8m2aEFbjQBfIhg">www.aaho.in</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
