{#{% extends "team/base.html" %}#}
{% load staticfiles %}
{% load helper_tags_team %}
{% block css %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'vendor/datepicker/css/bootstrap-datepicker.min.css' %}">
    <style>
        h5 {
            text-align: center;
        }

        label {
            text-align: center;
        }

        h5 b {
            word-wrap: break-word;
        }
    </style>
{% endblock %}
{% block pageTitle %}
    <h3 class="titleTop">Approve Credit Debit Note</h3>
{% endblock %}
{% block content %}
    {#    <div class="right_col" role="main">#}


    <div class="">
        {% if cnc %}
            <h3>Credit Note Customer</h3>
        {% endif %}
        {% for row in cnc %}
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <form class="form-horizontal form-label-left" id="{{ row.approve_cnc_form }}"
                                  data-parsley-validate data-parsley-trigger="keyup"
                                  autocomplete="off">
                                <div class="scroller_anchor"></div>
                                <div class="col-md-1 col-sm-1 col-lg-1 col-xs-12">
                                    <h5>Date</h5>
                                    <h5><b>{{ row.created_on }}</b></h5>
                                </div>

                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                    <h5>Customer</h5>
                                    <h5><b>{{ row.customer }}</b></h5>
                                </div>
                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                    <h5>Issued By</h5>
                                    <h5><b>{{ row.created_by }}</b></h5>
                                </div>
                                <div class="col-md-1 col-sm-1 col-lg-1 col-xs-12">
                                    <h5>Booking</h5>
                                    {% for booking in row.bookings %}
                                        <h5><b><a data-url="/api/manual-booking-retrieve/{{ booking.id }}/"
                                                  class="getAjaxPage"
                                                  href="javascript:;">{{ booking.booking_id }}</a></b></h5>
                                    {% endfor %}
                                </div>

                                <div class="col-md-1 col-sm-1 col-lg-1 col-xs-12">
                                    <h5>Amount</h5>
                                    <h5><b>{{ row.amount }}</b></h5>
                                </div>

                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                    <h5>Reason</h5>
                                    <h5><b>{{ row.credit_note_reason }}</b></h5>
                                </div>
                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                    <h5>Remarks</h5>
                                    <h5><b>{{ row.remarks }}</b></h5>
                                </div>
                                <div class="ln_solid col-md-12 col-xs-12 col-sm-12 col-lg-12"></div>
                                <div class="div_rejection_remarks item form-group col-md-6 col-sm-5 col-lg-6 col-xs-12"
                                     id="{{ row.div_rejection_cnc_remarks }}">
                                    <label for="rejection_remark"><span
                                            class="required">Rejection  Remarks*</span></label>
                                    <input type="text" class="rejection_remark form-control"
                                           name="rejection_reason" id="{{ row.input_reject_cnc_remarks }}"
                                           placeholder="Please mention rejection reason">
                                </div>
                                <div class="ln_solid rejection_line col-md-12 col-xs-12 col-sm-12 col-lg-12"
                                     id="{{ row.div_rejection_cnc_line }}"></div>
                                <div class="item form-group col-md-4 col-sm-4 col-lg-4 col-xs-12">
                                    <input type="hidden" name="status" id="{{ row.btn_status }}">
                                    <button type="submit" class="btn approve_cnc_btn  btn-sm btn-success"
                                            id="{{ row.approve_cnc_btn }}"> Approve
                                    </button>
                                    <button type="submit" class="btn reject_cnc_btn btn-sm btn-danger"
                                            id="{{ row.reject_cnc_btn }}"> Reject
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="">
        {% if cns %}
            <h3>Credit Note Supplier</h3>
        {% endif %}
        {% for row in cns %}
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <form class="form-horizontal form-label-left" id="{{ row.approve_cns_form }}"
                                  data-parsley-validate data-parsley-trigger="keyup"
                                  autocomplete="off">
                                <div class="scroller_anchor"></div>
                                <div class="col-md-1 col-sm-1 col-lg-1 col-xs-12">
                                    <h5>Date</h5>
                                    <h5><b>{{ row.created_on }}</b></h5>
                                </div>

                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                    <h5>Supplier</h5>
                                    <h5><b>{{ row.supplier }}</b></h5>
                                </div>
                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                    <h5>Issued By</h5>
                                    <h5><b>{{ row.created_by }}</b></h5>
                                </div>
                                <div class="col-md-1 col-sm-1 col-lg-1 col-xs-12">
                                    <h5>Booking</h5>
                                    {% for booking in row.bookings %}
                                        <h5><b><a data-url="/api/manual-booking-retrieve/{{ booking.id }}/"
                                                  class="getAjaxPage"
                                                  href="javascript:;">{{ booking.booking_id }}</a></b></h5>
                                    {% endfor %}
                                </div>

                                <div class="col-md-1 col-sm-1 col-lg-1 col-xs-12">
                                    <h5>Amount</h5>
                                    <h5><b>{{ row.amount }}</b></h5>
                                </div>

                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                    <h5>Reason</h5>
                                    <h5><b>{{ row.credit_note_reason }}</b></h5>
                                </div>
                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                    <h5>Remarks</h5>
                                    <h5><b>{{ row.remarks }}</b></h5>
                                </div>
                                <div class="ln_solid col-md-12 col-xs-12 col-sm-12 col-lg-12"></div>
                                <div class="div_rejection_remarks item form-group col-md-6 col-sm-5 col-lg-6 col-xs-12"
                                     id="{{ row.div_rejection_cns_remarks }}">
                                    <label for="rejection_remark"><span
                                            class="required">Rejection  Remarks*</span></label>
                                    <input type="text" class="rejection_remark form-control"
                                           name="rejection_reason" id="{{ row.input_reject_cns_remarks }}"
                                           placeholder="Please mention rejection reason">
                                </div>
                                <div class="ln_solid rejection_line col-md-12 col-xs-12 col-sm-12 col-lg-12"
                                     id="{{ row.div_rejection_cns_line }}"></div>
                                <div class="item form-group col-md-4 col-sm-4 col-lg-4 col-xs-12">
                                    <input type="hidden" name="status" id="{{ row.btn_status }}">
                                    <button type="submit" class="btn approve_cns_btn  btn-sm btn-success"
                                            id="{{ row.approve_cns_btn }}"> Approve
                                    </button>
                                    <button type="submit" class="btn reject_cns_btn btn-sm btn-danger"
                                            id="{{ row.reject_cns_btn }}"> Reject
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="">
        {% if dnc %}
            <h3>Debit Note Customer</h3>
        {% endif %}
        {% for row in dnc %}
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <form class="form-horizontal form-label-left" id="{{ row.approve_dnc_form }}"
                                  data-parsley-validate data-parsley-trigger="keyup"
                                  autocomplete="off">
                                <div class="scroller_anchor"></div>
                                <div class="col-md-1 col-sm-1 col-lg-1 col-xs-12">
                                    <h5>Date</h5>
                                    <h5><b>{{ row.created_on }}</b></h5>
                                </div>

                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                    <h5>Customer</h5>
                                    <h5><b>{{ row.customer }}</b></h5>
                                </div>
                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                    <h5>Issued By</h5>
                                    <h5><b>{{ row.created_by }}</b></h5>
                                </div>
                                <div class="col-md-1 col-sm-1 col-lg-1 col-xs-12">
                                    <h5>Booking</h5>
                                    {% for booking in row.bookings %}
                                        <h5><b><a data-url="/api/manual-booking-retrieve/{{ booking.id }}/"
                                                  class="getAjaxPage"
                                                  href="javascript:;">{{ booking.booking_id }}</a></b></h5>
                                    {% endfor %}
                                </div>

                                <div class="col-md-1 col-sm-1 col-lg-1 col-xs-12">
                                    <h5>Amount</h5>
                                    <h5><b>{{ row.amount }}</b></h5>
                                </div>

                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                    <h5>Reason</h5>
                                    <h5><b>{{ row.debit_note_reason }}</b></h5>
                                </div>
                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                    <h5>Remarks</h5>
                                    <h5><b>{{ row.remarks }}</b></h5>
                                </div>
                                <div class="ln_solid col-md-12 col-xs-12 col-sm-12 col-lg-12"></div>
                                <div class="div_rejection_remarks item form-group col-md-6 col-sm-5 col-lg-6 col-xs-12"
                                     id="{{ row.div_rejection_dnc_remarks }}">
                                    <label for="rejection_remark"><span
                                            class="required">Rejection  Remarks*</span></label>
                                    <input type="text" class="rejection_remark form-control"
                                           name="rejection_reason" id="{{ row.input_reject_dnc_remarks }}"
                                           placeholder="Please mention rejection reason">
                                </div>
                                <div class="ln_solid rejection_line col-md-12 col-xs-12 col-sm-12 col-lg-12"
                                     id="{{ row.div_rejection_dnc_line }}"></div>
                                <div class="item form-group col-md-4 col-sm-4 col-lg-4 col-xs-12">
                                    <input type="hidden" name="status" id="{{ row.btn_status }}">
                                    <button type="submit" class="btn approve_dnc_btn  btn-sm btn-success"
                                            id="{{ row.approve_dnc_btn }}"> Approve
                                    </button>
                                    <button type="submit" class="btn reject_dnc_btn btn-sm btn-danger"
                                            id="{{ row.reject_dnc_btn }}"> Reject
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="">
        {% if dns %}
            <h3>Debit Note Supplier</h3>
        {% endif %}
        {% for row in dns %}
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <form class="form-horizontal form-label-left" id="{{ row.approve_dns_form }}"
                                  data-parsley-validate data-parsley-trigger="keyup"
                                  autocomplete="off">
                                <div class="scroller_anchor"></div>
                                <div class="col-md-1 col-sm-1 col-lg-1 col-xs-12">
                                    <h5>Date</h5>
                                    <h5><b>{{ row.created_on }}</b></h5>
                                </div>

                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                    <h5>Supplier</h5>
                                    <h5><b>{{ row.supplier }}</b></h5>
                                </div>
                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                    <h5>Issued By</h5>
                                    <h5><b>{{ row.created_by }}</b></h5>
                                </div>
                                <div class="col-md-1 col-sm-1 col-lg-1 col-xs-12">
                                    <h5>Booking</h5>
                                    {% for booking in row.bookings %}
                                        <h5><b><a data-url="/api/manual-booking-retrieve/{{ booking.id }}/"
                                                  class="getAjaxPage"
                                                  href="javascript:;">{{ booking.booking_id }}</a></b></h5>
                                    {% endfor %}
                                </div>

                                <div class="col-md-1 col-sm-1 col-lg-1 col-xs-12">
                                    <h5>Amount</h5>
                                    <h5><b>{{ row.amount }}</b></h5>
                                </div>

                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                    <h5>Reason</h5>
                                    <h5><b>{{ row.credit_note_reason }}</b></h5>
                                </div>
                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                    <h5>Remarks</h5>
                                    <h5><b>{{ row.remarks }}</b></h5>
                                </div>
                                <div class="ln_solid col-md-12 col-xs-12 col-sm-12 col-lg-12"></div>
                                <div class="div_rejection_remarks item form-group col-md-6 col-sm-5 col-lg-6 col-xs-12"
                                     id="{{ row.div_rejection_dns_remarks }}">
                                    <label for="rejection_remark"><span
                                            class="required">Rejection  Remarks*</span></label>
                                    <input type="text" class="rejection_remark form-control"
                                           name="rejection_reason" id="{{ row.input_reject_dns_remarks }}"
                                           placeholder="Please mention rejection reason">
                                </div>
                                <div class="ln_solid rejection_line col-md-12 col-xs-12 col-sm-12 col-lg-12"
                                     id="{{ row.div_rejection_dns_line }}"></div>
                                <div class="item form-group col-md-4 col-sm-4 col-lg-4 col-xs-12">
                                    <input type="hidden" name="status" id="{{ row.btn_status }}">
                                    <button type="submit" class="btn approve_dns_btn  btn-sm btn-success"
                                            id="{{ row.approve_dns_btn }}"> Approve
                                    </button>
                                    <button type="submit" class="btn reject_dns_btn btn-sm btn-danger"
                                            id="{{ row.reject_dns_btn }}"> Reject
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="">
        {% if cnca %}
            <h3>Credit Note Customer for Direct Advance</h3>
        {% endif %}
        {% for row in cnca %}
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <form class="form-horizontal form-label-left" id="{{ row.approve_cnca_form }}"
                                  data-parsley-validate data-parsley-trigger="keyup"
                                  autocomplete="off">
                                <div class="scroller_anchor"></div>
                                <div class="col-md-1 col-sm-1 col-lg-1 col-xs-12">
                                    <h5>Date</h5>
                                    <h5><b>{{ row.created_on }}</b></h5>
                                </div>

                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                    <h5>Customer</h5>
                                    <h5><b>{{ row.customer }}</b></h5>
                                </div>

                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                    <h5>Supplier</h5>
                                    <h5><b>{{ row.supplier }}</b></h5>
                                </div>
                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                    <h5>Issued By</h5>
                                    <h5><b>{{ row.created_by }}</b></h5>
                                </div>
                                <div class="col-md-1 col-sm-1 col-lg-1 col-xs-12">
                                    <h5>Booking</h5>
                                    {% for booking in row.bookings %}
                                        <h5><b><a data-url="/api/manual-booking-retrieve/{{ booking.id }}/"
                                                  class="getAjaxPage"
                                                  href="javascript:;">{{ booking.booking_id }}</a></b></h5>
                                    {% endfor %}
                                </div>

                                <div class="col-md-1 col-sm-1 col-lg-1 col-xs-12">
                                    <h5>Amount</h5>
                                    <h5><b>{{ row.amount }}</b></h5>
                                </div>

                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                    <h5>Reason</h5>
                                    <h5><b>{{ row.credit_note_reason }}</b></h5>
                                </div>
                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                    <h5>Remarks</h5>
                                    <h5><b>{{ row.remarks }}</b></h5>
                                </div>
                                <div class="ln_solid col-md-12 col-xs-12 col-sm-12 col-lg-12"></div>
                                <div class="div_rejection_remarks item form-group col-md-6 col-sm-5 col-lg-6 col-xs-12"
                                     id="{{ row.div_rejection_cnca_remarks }}">
                                    <label for="rejection_remark"><span
                                            class="required">Rejection  Remarks*</span></label>
                                    <input type="text" class="rejection_remark form-control"
                                           name="rejection_reason" id="{{ row.input_reject_cnca_remarks }}"
                                           placeholder="Please mention rejection reason">
                                </div>
                                <div class="ln_solid rejection_line col-md-12 col-xs-12 col-sm-12 col-lg-12"
                                     id="{{ row.div_rejection_cnca_line }}"></div>
                                <div class="item form-group col-md-4 col-sm-4 col-lg-4 col-xs-12">
                                    <input type="hidden" name="status" id="{{ row.btn_status }}">
                                    <button type="submit" class="btn approve_cnca_btn  btn-sm btn-success"
                                            id="{{ row.approve_cnca_btn }}"> Approve
                                    </button>
                                    <button type="submit" class="btn reject_cnca_btn btn-sm btn-danger"
                                            id="{{ row.reject_cnca_btn }}"> Reject
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {#    </div>#}
{% endblock %}
{% block js %}
    <script src="{% static "vendor/parsley/js/parsley.min.js" %}" type="text/javascript"></script>
    <script src="{% static "vendor/notify/notify.min.js" %}" type="text/javascript"></script>
    <script src="{% static "vendor/moment/js/moment.min.js" %}" type="text/javascript"></script>
    <script src="{% static "aaho/jquery.serializejson.js" %}" type="text/javascript"></script>
    <script>
        $('.div_rejection_remarks').hide();
            $('.rejection_line').hide();
            $('.reject_cnc_btn').click(function (e) {
                var btn_reject_id = $(this).attr('id');
                var cnc_id = btn_reject_id.slice(15, 20);
                var approve_cnc_form = $('#approve_cnc_form_' + cnc_id);
                $('#input_reject_cnc_remarks_' + cnc_id).prop('required', true).prop('disabled', false);
                $('#div_rejection_cnc_remarks_' + cnc_id).show();
                $('#div_rejection_cnc_line_' + cnc_id).show();
                if (!approve_cnc_form.parsley().isValid()) {
                    return true;
                }
                NProgress.start();
                var data = approve_cnc_form.serializeJSON();
                var d = new Date();
                data['rejected_on'] = d.toISOString();
                data['rejected_by'] = "{{ request.user.username }}";
                data['status'] = 'rejected';
                $.ajax({
                    url: "/api/team-credit-note-customer-partial-update/" + cnc_id + '/',
                    type: 'patch',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('Authorization', localStorage.getItem('token'));
                    }
                }).done(function (response, status) {
                    $.notify("Successfully Rejected", {
                        position: "top center",
                        autoHideDelay: 1000,
                        clickToHide: true,
                        className: 'success'
                    });
                    NProgress.done();
                    setTimeout(function () {
                        location.reload();
                    }, 4000);
                }).fail(function (jqXHR, status, error) {
                    if (jqXHR.status === "401") {
                        redirectToLogin(error);
                    }
                    else {
                        $.notify(jqXHR['status'], {
                            position: "top center",
                            autoHideDelay: 1000,
                            clickToHide: true,
                            className: 'error'
                        });
                    }
                    NProgress.done();
                });
                return false;
            });

            $('.approve_cnc_btn').click(function (e) {
                var btn_approve_id = $(this).attr('id');
                var cnc_id = btn_approve_id.slice(16, 20);
                var approve_cnc_form = $('#approve_cnc_form_' + cnc_id);
                if (!approve_cnc_form.parsley().isValid()) {
                    return true;
                }
                $('#input_reject_cnc_remarks_' + cnc_id).prop('disabled', true);
                NProgress.start();
                var data = approve_cnc_form.serializeJSON();
                var d = new Date();
                data['approved_on'] = d.toISOString();
                data['approved_by'] = "{{ request.user.username }}";
                data['status'] = 'approved';
                $.ajax({
                    url: "/api/team-credit-note-customer-partial-update/" + cnc_id + '/',
                    type: 'patch',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('Authorization', localStorage.getItem('token'));
                    }
                }).done(function (response, status) {
                    $.notify("Successfull", {
                        position: "top center",
                        autoHideDelay: 1000,
                        clickToHide: true,
                        className: 'success'
                    });
                    NProgress.done();
                    setTimeout(function () {
                        location.reload();
                    }, 4000);
                }).fail(function (jqXHR, status, error) {
                    if (jqXHR.status === "401") {
                        redirectToLogin(error);
                    }
                    else {
                        $.notify(jqXHR['status'], {
                            position: "top center",
                            autoHideDelay: 1000,
                            clickToHide: true,
                            className: 'error'
                        });
                    }
                    NProgress.done();
                });
                return false;
            });

            $('.div_rejection_remarks').hide();
            $('.rejection_line').hide();

            $('.reject_cnca_btn').click(function (e) {
                var btn_reject_id = $(this).attr('id');
                var cnca_id = btn_reject_id.slice(16, 21);
                var approve_cnca_form = $('#approve_cnca_form_' + cnca_id);
                $('#input_reject_cnca_remarks_' + cnca_id).prop('required', true).prop('disabled', false);
                $('#div_rejection_cnca_remarks_' + cnca_id).show();
                $('#div_rejection_cnca_line_' + cnca_id).show();
                if (!approve_cnca_form.parsley().isValid()) {
                    return true;
                }
                NProgress.start();
                var data = approve_cnca_form.serializeJSON();
                var d = new Date();
                data['rejected_on'] = d.toISOString();
                data['rejected_by'] = "{{ request.user.username }}";
                data['status'] = 'rejected';
                $.ajax({
                    url: "/api/team-credit-note-customer-direct-advance-partial-update/" + cnca_id + '/',
                    type: 'patch',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('Authorization', localStorage.getItem('token'));
                    }
                }).done(function (response, status) {
                    $.notify("Successfully Rejected", {
                        position: "top center",
                        autoHideDelay: 1000,
                        clickToHide: true,
                        className: 'success'
                    });
                    NProgress.done();
                    setTimeout(function () {
                        location.reload();
                    }, 4000);
                }).fail(function (jqXHR, status, error) {
                    if (jqXHR.status === "401") {
                        redirectToLogin(error);
                    }
                    else {
                        $.notify(jqXHR['status'], {
                            position: "top center",
                            autoHideDelay: 1000,
                            clickToHide: true,
                            className: 'error'
                        });
                    }

                    NProgress.done();
                });
                return false;
            });

            $('.approve_cnca_btn').click(function (e) {
                var btn_approve_id = $(this).attr('id');
                var cnca_id = btn_approve_id.slice(17, 21);
                var approve_cnca_form = $('#approve_cnca_form_' + cnca_id);
                if (!approve_cnca_form.parsley().isValid()) {
                    return true;
                }
                $('#input_reject_cnca_remarks_' + cnca_id).prop('disabled', true);

                NProgress.start();
                var data = approve_cnca_form.serializeJSON();
                var d = new Date();
                data['approved_on'] = d.toISOString();
                data['approved_by'] = "{{ request.user.username }}";
                data['status'] = 'approved';
                $.ajax({
                    url: "/api/team-credit-note-customer-direct-advance-partial-update/" + cnca_id + '/',
                    type: 'patch',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('Authorization', localStorage.getItem('token'));
                    }
                }).done(function (response, status) {
                    $.notify("Successfull", {
                        position: "top center",
                        autoHideDelay: 1000,
                        clickToHide: true,
                        className: 'success'
                    });
                    NProgress.done();
                    setTimeout(function () {
                        location.reload();
                    }, 4000);
                }).fail(function (jqXHR, status, error) {
                    if (jqXHR.status === "401") {
                        redirectToLogin(error);
                    }
                    else {
                        $.notify(jqXHR['status'], {
                            position: "top center",
                            autoHideDelay: 1000,
                            clickToHide: true,
                            className: 'error'
                        });
                    }
                    NProgress.done();
                });
                return false;
            });

            $('.div_rejection_remarks').hide();
            $('.rejection_line').hide();

            $('.reject_dns_btn').click(function (e) {
                var btn_reject_id = $(this).attr('id');
                var dns_id = btn_reject_id.slice(15, 20);
                var approve_dns_form = $('#approve_dns_form_' + dns_id);
                $('#input_reject_dns_remarks_' + dns_id).prop('required', true).prop('disabled', false);
                $('#div_rejection_dns_remarks_' + dns_id).show();
                $('#div_rejection_dns_line_' + dns_id).show();
                if (!approve_dns_form.parsley().isValid()) {
                    return true;
                }
                NProgress.start();
                var data = approve_dns_form.serializeJSON();
                var d = new Date();
                data['rejected_on'] = d.toISOString();
                data['rejected_by'] = "{{ request.user.username }}";
                data['status'] = 'rejected';
                $.ajax({
                    url: "/api/team-debit-note-supplier-partial-update/" + dns_id + '/',
                    type: 'PATCH',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('Authorization', localStorage.getItem('token'));
                    }
                }).done(function (response, status) {
                    $.notify(response['msg'], {
                        position: "top center",
                        autoHideDelay: 1000,
                        clickToHide: true,
                        className: 'success'
                    });
                    NProgress.done();
                    setTimeout(function () {
                        location.reload();
                    }, 4000);
                }).fail(function (jqXHR, status) {
                    $.notify('Failed', {
                        position: "top center",
                        autoHideDelay: 1000,
                        clickToHide: true,
                        className: 'error'
                    });
                    NProgress.done();
                });
                return false;
            });

            $('.approve_dns_btn').click(function (e) {
                var btn_approve_id = $(this).attr('id');
                var dns_id = btn_approve_id.slice(16, 20);
                var approve_dns_form = $('#approve_dns_form_' + dns_id);
                if (!approve_dns_form.parsley().isValid()) {
                    return true;
                }
                $('#input_reject_dns_remarks_' + dns_id).prop('disabled', true);

                NProgress.start();
                var data = approve_dns_form.serializeJSON();
                var d = new Date();
                data['approved_on'] = d.toISOString();
                data['approved_by'] = "{{ request.user.username }}";
                data['status'] = 'approved';
                $.ajax({
                    url: "/api/team-debit-note-supplier-partial-update/" + dns_id + '/',
                    type: 'PATCH',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('Authorization', localStorage.getItem('token'));
                    }
                }).done(function (response, status) {
                    $.notify(response['msg'], {
                        position: "top center",
                        autoHideDelay: 1000,
                        clickToHide: true,
                        className: 'success'
                    });
                    NProgress.done();
                    setTimeout(function () {
                        location.reload();
                    }, 4000);
                }).fail(function (jqXHR, status) {
                    $.notify('Failed', {
                        position: "top center",
                        autoHideDelay: 1000,
                        clickToHide: true,
                        className: 'error'
                    });
                    NProgress.done();
                });
                return false;
            });

            $('.div_rejection_remarks').hide();
            $('.rejection_line').hide();

            $('.reject_dnc_btn').click(function (e) {
                var btn_reject_id = $(this).attr('id');
                var dnc_id = btn_reject_id.slice(15, 20);
                var approve_dnc_form = $('#approve_dnc_form_' + dnc_id);
                $('#input_reject_dnc_remarks_' + dnc_id).prop('required', true).prop('disabled', false);
                $('#div_rejection_dnc_remarks_' + dnc_id).show();
                $('#div_rejection_dnc_line_' + dnc_id).show();
                if (!approve_dnc_form.parsley().isValid()) {
                    return true;
                }
                NProgress.start();
                var data = approve_dnc_form.serializeJSON();
                var d = new Date();
                data['rejected_on'] = d.toISOString();
                data['rejected_by'] = "{{ request.user.username }}";
                data['status'] = 'rejected';

                $.ajax({
                    url: "/api/team-debit-note-customer-partial-update/" + dnc_id + '/',
                    type: 'patch',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('Authorization', localStorage.getItem('token'));
                    }
                }).done(function (response, status) {
                    $.notify("Successfully Rejected", {
                        position: "top center",
                        autoHideDelay: 1000,
                        clickToHide: true,
                        className: 'success'
                    });
                    NProgress.done();
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }).fail(function (jqXHR, status, error) {
                    if (jqXHR.status === "401") {
                        redirectToLogin(error);
                    }
                    else {
                        $.notify(jqXHR['status'], {
                            position: "top center",
                            autoHideDelay: 1000,
                            clickToHide: true,
                            className: 'error'
                        });
                    }
                    NProgress.done();
                });
                return false;
            });

            $('.approve_dnc_btn').click(function (e) {
                var btn_approve_id = $(this).attr('id');
                var dnc_id = btn_approve_id.slice(16, 20);
                var approve_dnc_form = $('#approve_dnc_form_' + dnc_id);
                if (!approve_dnc_form.parsley().isValid()) {
                    return true;
                }
                $('#input_reject_dnc_remarks_' + dnc_id).prop('disabled', true);

                NProgress.start();
                var data = approve_dnc_form.serializeJSON();
                var d = new Date();
                data['approved_on'] = d.toISOString();
                data['approved_by'] = "{{ request.user.username }}";
                data['status'] = 'approved';
                $.ajax({
                    url: "/api/team-debit-note-customer-partial-update/" + dnc_id + '/',
                    type: 'patch',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('Authorization', localStorage.getItem('token'));
                    }
                }).done(function (response, status) {
                    $.notify("Successfull", {
                        position: "top center",
                        autoHideDelay: 1000,
                        clickToHide: true,
                        className: 'success'
                    });
                    NProgress.done();
                    setTimeout(function () {
                        location.reload();
                    }, 4000);
                }).fail(function (jqXHR, status, error) {
                    if (jqXHR.status === "401") {
                        redirectToLogin(error);
                    }
                    else {
                        $.notify(jqXHR['status'], {
                            position: "top center",
                            autoHideDelay: 1000,
                            clickToHide: true,
                            className: 'error'
                        });
                    }
                    NProgress.done();
                });
                return false;
            });

            $('.div_rejection_remarks').hide();
            $('.rejection_line').hide();

            $('.reject_cns_btn').click(function (e) {
                var btn_reject_id = $(this).attr('id');
                var cns_id = btn_reject_id.slice(15, 20);
                var approve_cns_form = $('#approve_cns_form_' + cns_id);
                $('#input_reject_cns_remarks_' + cns_id).prop('required', true).prop('disabled', false);
                $('#div_rejection_cns_remarks_' + cns_id).show();
                $('#div_rejection_cns_line_' + cns_id).show();
                if (!approve_cns_form.parsley().isValid()) {
                    return true;
                }
                NProgress.start();
                var data = approve_cns_form.serializeJSON();
                var d = new Date();
                data['rejected_on'] = d.toISOString();
                data['rejected_by'] = "{{ request.user.username }}";
                data['status'] = 'rejected';

                $.ajax({
                    url: "/api/team-credit-note-supplier-partial-update/" + cns_id + '/',
                    type: 'patch',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('Authorization', localStorage.getItem('token'));
                    }
                }).done(function (response, status) {
                    $.notify("Successfully Rejected", {
                        position: "top center",
                        autoHideDelay: 1000,
                        clickToHide: true,
                        className: 'success'
                    });
                    NProgress.done();
                    setTimeout(function () {
                        location.reload();
                    }, 4000);
                }).fail(function (jqXHR, status, error) {
                    if (jqXHR.status === "401") {
                        redirectToLogin(error);
                    }
                    else {
                        $.notify('Failed', {
                            position: "top center",
                            autoHideDelay: 1000,
                            clickToHide: true,
                            className: 'error'
                        });
                    }
                    NProgress.done();
                });
                return false;
            });

            $('.approve_cns_btn').click(function (e) {
                var btn_approve_id = $(this).attr('id');
                var cns_id = btn_approve_id.slice(16, 20);
                var approve_cns_form = $('#approve_cns_form_' + cns_id);
                if (!approve_cns_form.parsley().isValid()) {
                    return true;
                }
                $('#input_reject_cns_remarks_' + cns_id).prop('disabled', true);

                NProgress.start();
                var data = approve_cns_form.serializeJSON();
                var d = new Date();
                data['approved_on'] = d.toISOString();
                data['approved_by'] = "{{ request.user.username }}";
                data['status'] = 'approved';
                $.ajax({
                    url: "/api/team-credit-note-supplier-partial-update/" + cns_id + '/',
                    type: 'patch',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('Authorization', localStorage.getItem('token'));
                    }
                }).done(function (response, status) {
                    $.notify("Successfull", {
                        position: "top center",
                        autoHideDelay: 2000,
                        clickToHide: true,
                        className: 'success'
                    });
                    NProgress.done();
                    setTimeout(function () {
                        location.reload();
                    }, 3000);
                }).fail(function (jqXHR, status, error) {
                    if (jqXHR.status === "401") {
                        redirectToLogin(error);
                    }
                    else {
                        $.notify('Failed', {
                            position: "top center",
                            autoHideDelay: 1000,
                            clickToHide: true,
                            className: 'error'
                        });
                    }
                    NProgress.done();
                });
                return false;
            });
    </script>
{% endblock %}