<!DOCTYPE HTML>
{% load staticfiles %}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description"
          content="Aaho is a one-stop solution for online truck booking for inter-city and inter-state road freight. Book, track, pay for and manage all your truck needs here.">

    <meta name="keywords"
          content="aaho, trans IQ, transiq, trans iq tech, transiq tech, trucks for hire, hire trucks, truck booking, freight booking, online truck booking, book truck online, hire truck online, intercity trucks, inter state trucks, truck transport india, trucking business india, logistics India, logistics technology">

    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/aaho/images/logo/favicon.ico" rel="icon" type="image/x-icon">

    <link rel="icon" href="/static/aaho/images/logo/logo.png" type="image/x-icon"/>
    <title>Aaho - Online Truck Booking</title>

    <!-- Bootstrap styles -->
    <link href="{% static "vendor/bootstrap/3.3.6/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Generic page styles -->
    <link rel="stylesheet" href="{% static "vendor/fileupload/css/style.css" %}">
    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="{% static "vendor/fileupload/css/blueimp-gallery.min.css" %}">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{% static "vendor/fileupload/css/jquery.fileupload-ui.css" %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">

    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript>
        <link rel="stylesheet" href="{% static "vendor/fileupload/css/jquery.fileupload-ui-noscript.css" %}">
    </noscript>

    <!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>


{% block content %}
    <h1>No content set</h1>
{% endblock %}

</body>
</html>
