{% extends "mobile/base.html" %}
{% block pageTitle %}
    <h3 class="titleTop">Account Already Exists</h3>
{% endblock %}
{% block content %}
    <div class="right_col size" role="main">
        <div class="row">
            <div class="x_panel">
                <div class="x_title col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2>Beneficiary Details</h2>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p>Account holder name: </p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p>{{ bank.account_holder_name }}</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p>Beneficiary code: </p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p>{{ bank.beneficiary_code }}</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p>Account number: </p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p>{{ bank.account_number }}</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p>Transaction type:</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p>{{ bank.get_transaction_type_display }}</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p>Account type: </p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p>{{ bank.get_account_type_display }}</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p>IFSC:</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p>{{ bank.ifsc }}</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p>Address:</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p>{{ bank.address }}</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p>City:</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p>{{ bank.city }}</p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-success btn-lg"
                            onclick="window.location.href='/team/register-beneficiary-account/'">Add New Account
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

