{% load staticfiles %}
{% load user_tags %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/parsley/css/parsley.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/css/select2.min.css' %}">
{% endblock %}
{% block pageTitle %}
    <h3 class="titleTop">Commission Booking</h3>
{% endblock %}
{% block content %}
    <div class="x_panel">
        <div class="x_content">
            <div class="panel-body">
                <div class="row">
                    <form class="form-horizontal form-label-left"
                          data-parsley-trigger="input" data-parsley-validate=""
                          data-parsley-validation-threshold="1" id="detailed-commission-booking-form"
                          novalidate>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h3>Basic Details</h3>
                            <hr>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="item form-group">
                                <input type="hidden" name="customer" value="{{ customer.id }}">
                                <input type="hidden" name="shipment_datetime" value="{{ shipment_datetime }}">
                                <input type="hidden" name="source_office" value="{{ source_office }}">
                                <input type="hidden" name="destination_office" value="{{ destination_office }}">
                                <input type="hidden" name="billing_type" value="{{ billing_type }}">
                                <input type="hidden" name="customer_placed_order"
                                       value="{{ customer_placed_order.id }}">
                                <input type="hidden" name="company_username" value="{{ others.company_name }}">
                                <input type="hidden" name="truck_driver_id" value="{{ truck_driver_id }}">
                                <input type="hidden" name="supplier_id" value="{{ supplier_id }}">
                                <input type="hidden" name="truck_owner_id" value="{{ truck_owner_id }}">
                                <input type="hidden" name="vehicle_category_id" value="{{ vehicle_category_id }}">
                                <input type="hidden" name="generate-booking-and-finish"
                                       value="detailed_commission_booking">
                            </div>

                            <div class="item form-group">
                                <label>No. of Packages</label>
                                <input type="number" class="form-control" name="number_of_package"
                                       data-parsley-min="0" min="0"
                                       placeholder="Number of Package">
                            </div>
                            <div class="item form-group">
                                <label>Material</label>
                                <textarea class="form-control" rows="2" name="material" id="material"
                                          placeholder="Write material description in MAX 160 characters...">{{ booking_data.material|default_if_none:"" }}</textarea>
                            </div>

                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="item form-group">
                                <label for="from_city"><span class="required">From * </span></label>
                                <select class="form-control"
                                        name="from_city" id="detailed_booking_from_city">
                                    <option></option>
                                </select>
                            </div>
                            <div class="item form-group">
                                <label for="to_city"><span class="required">To * </span></label>
                                <select class="form-control"
                                        name="to_city" id="detailed_booking_to_city" required>
                                    <option></option>
                                </select>
                            </div>
                            <div class="item form-group">
                                <label><span class="required">Lorry No. * </span></label>
                                <input type="text" class="form-control" name="vehicle_number"
                                       value="{{ vehicle_number }}"
                                       placeholder="Lorry No." autocomplete="off" readonly>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="item form-group">
                                <label>Loading Point(s)</label>
                                <input type="text" class="form-control" name="loading_points"
                                       placeholder="(Use semicolon to separate multiple Loading points)">
                            </div>
                            <div class="item form-group">
                                <label>Unloading Point(s)</label>
                                <input type="text" class="form-control" name="unloading_points"
                                       placeholder="(Use semicolon to separate multiple Loading points)">
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                            <h3>Rate Details</h3>
                            <hr>
                        </div>
                        {% if not user|has_group:"emp_group3" %}
                            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12 green_label">
                                <h4>Party Rate</h4>
                                <hr>
                                <div class="item form-group">
                                    <label>Actual Weight(in Tonnes)</label>
                                    <input type="number" class="form-control" name="loaded_weight"
                                           data-parsley-min="0" min="0"
                                           id="loaded_weight" step="0.001" placeholder="Actual weight"
                                           value="{{ loaded_weight }}" required>
                                </div>
                                <div class="item form-group">
                                    <label><span class="required">Party Charged Weight(in Tonnes) *</span></label>
                                    <input type="number" class="form-control" name="charged_weight"
                                           data-parsley-min="0" min="0" value="{{ charged_weight }}"
                                           id="charged_weight" placeholder="Charged Weight" required step="0.001">
                                </div>
                                <div class="item form-group">
                                    <label><span class="required">Party Rate *</span></label>
                                    <input type="number" class="form-control" name="party_rate" data-parsley-min="0"
                                           min="0" value="{{ party_rate }}"
                                           id="party_rate" placeholder="Party Rate" required>
                                </div>
                                <div class="item form-group">
                                    <label>Freight from Company:</label>
                                    <input type="text" class="form-control" name="freight_from_company"
                                           id="freight_from_company" placeholder="= Party Rate*Charged Wt" readonly>
                                </div>
                                <div class="item form-group">
                                    <label>Loading+Unloading+Det+Other (+)</label>
                                    <input type="number" class="form-control"
                                           name="additional_charges_for_company"
                                           id="additional_charges_for_company"
                                           placeholder="Loading+Unloading+Det+Other" data-parsley-min="0" min="0"
                                           value="0" required>
                                </div>
                                <div class="item form-group">
                                    <label>Remarks for additional charges</label>
                                    <input type="text" class="form-control"
                                           name="invoice_remarks_for_additional_charges"
                                           id="invoice_remarks_for_additional_charges"
                                           placeholder="Invoice remarks for additional charges">
                                </div>
                                <div class="item form-group">
                                    <label>Deductions / Discounts if any (-):</label>
                                    <input type="number" class="form-control" name="deductions_for_company"
                                           data-parsley-min="0" min="0"
                                           id="deductions_for_company" placeholder="Amount" value="0" required>
                                </div>
                                <div class="item form-group">
                                    <label>Invoice remarks for deductions/discounts</label>
                                    <input type="text" class="form-control"
                                           name="invoice_remarks_for_deduction_discount"
                                           id="invoice_remarks_for_deduction_discount"
                                           placeholder="Invoice remarks for deductions/discounts">
                                </div>
                                <div class="item form-group">
                                    <label>Advance to Trans IQ</label>
                                    <input type="number" class="form-control" name="advance_from_company"
                                           data-parsley-min="0" min="0"
                                           id="advance_from_company" placeholder="Amount" value="0" required>
                                </div>
                                <div class="item form-group">
                                    <label>TDS Deducted:</label>
                                    <input type="number" class="form-control" name="tds_deducted_amount"
                                           data-parsley-min="0" min="0"
                                           placeholder="TDS Deducted:" value="0">
                                </div>
                                <div class="item form-group">
                                    <label>Total Amount to Party:</label>
                                    <input type="number" class="form-control" name="total_amount_to_party"
                                           data-parsley-min="0" min="0" value="{{ total_amount_to_party }}"
                                           id="total_amount_to_party" placeholder="Total Amount to Party:" readonly>
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12 red_label">
                            <h4>Supplier Rate</h4>
                            <hr>
                            {% if user|has_group:"emp_group3" %}

                                <div class="item form-group">
                                    <label>Actual Weight(in Tonnes)</label>
                                    <input type="number" class="form-control" name="loaded_weight"
                                           data-parsley-min="0" min="0" value="{{ loaded_weight }}"
                                           id="loaded_weight" step="0.001" placeholder="Actual weight" required>
                                </div>
                            {% endif %}
                            <div class="item form-group">
                                <label><span class="required">Supplier Charged Weight(in Tonnes) *</span></label>
                                <input type="number" class="form-control" name="supplier_charged_weight"
                                       id="supplier_charged_weight" placeholder="Supplier Charged Weight"
                                       data-parsley-min="0" min="0" value="{{ supplier_charged_weight }}"
                                       required step="0.001">
                            </div>
                            <div class="item form-group">
                                <label> <span class="required">Supplier Rate *</span></label>
                                <input type="number" class="form-control" name="supplier_rate" id="supplier_rate"
                                       value="{{ supplier_rate }}"
                                       placeholder="Supplier Rate" required>
                            </div>


                            <div class="item form-group">
                                <label>Freight to Owner:</label>
                                <input type="number" class="form-control" name="freight_owner" id="freight_owner"
                                       placeholder="= Supplier Rate*Charged Wt" readonly>
                            </div>
                            <h4>Additional Charges for Vendor(+)</h4>
                            <hr>
                            <div class="item form-group">
                                <label>Loading Charges</label>
                                <input type="number" class="form-control" name="loading_charge" id="loading_charges"
                                       placeholder="Loading Charges" value="0" required>
                            </div>
                            <div class="item form-group">
                                <label>Unloading Charges</label>
                                <input type="number" class="form-control" name="unloading_charge"
                                       id="unloading_charges" placeholder="Unloading Charges" value="0"
                                       required>
                            </div>
                            <div class="item form-group">
                                <label>Detention Charges</label>
                                <input type="number" class="form-control" name="detention_charge"
                                       id="detention_charges" placeholder="Detention Charges" value="0"
                                       required>
                            </div>
                            <div class="item form-group">
                                <label>Other Charges</label>
                                <input type="number" class="form-control" name="additional_charges_for_owner"
                                       id="other_charges_for_company" placeholder="Other Charges" value="0"
                                       required>
                            </div>
                            <div class="item form-group">
                                <label>Remarks about additional charges</label>
                                <textarea class="form-control" rows="2" name="note_for_additional_owner_charges"
                                          id="remarks_about_additional_charges"
                                          placeholder="Remarks about additional charges"></textarea>
                            </div>
                            <h4>Deductions for Vendor(-)</h4>
                            <hr>
                            <div class="item form-group">
                                <label>Commission</label>
                                <input type="number" class="form-control" name="commission" id="commission"
                                       placeholder="Commission" value="0" required>
                            </div>
                            <div class="item form-group">
                                <label>LR Cost</label>
                                <input type="number" class="form-control" name="lr_cost" id="lr_cost"
                                       placeholder="LR Cost" value="0" required>
                            </div>
                            <div class="item form-group">
                                <label>Deduction for Advance</label>
                                <input type="number" class="form-control" name="deduction_for_advance"
                                       data-parsley-min="0" min="0"
                                       id="deduction_for_advance" placeholder="Deduction for Advance" value="0"
                                       required>
                            </div>
                            <div class="item form-group">
                                <label>Deduction for Balance</label>
                                <input type="number" class="form-control" name="deduction_for_balance"
                                       id="deduction_for_balance" placeholder="Deduction for Balance" value="0"
                                       required>
                            </div>
                            <div class="item form-group">
                                <label>Any Other Deductions</label>
                                <input type="number" class="form-control" name="other_deduction"
                                       id="any_other_deduction" placeholder="Any Other Deductions" value="0"
                                       required>
                            </div>
                            <div class="item form-group">
                                <label>Remarks about deductions</label>
                                <textarea class="form-control" rows="1" name="remarks_about_deduction"
                                          id="remarks_about_deduction"
                                          placeholder="Remarks about deductions"></textarea>
                            </div>
                            <div class="item form-group">
                                <label>Total Amount to Owner:</label>
                            </div>
                            <div class="item form-group">
                                <input type="hidden" name="total_amount_to_party" id="total_amount_to_party">
                                <input type="number" class="form-control" name="total_amount_to_owner"
                                       id="total_amount_to_owner" placeholder="=Freight+Additional-Deduction"
                                       step="0.001" value="{{ total_amount_to_owner }}"
                                       readonly>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                            <div class="item form-group">
                                <label>Comments</label>
                                <textarea class="form-control" rows="2" name="comments" id="comments"
                                          placeholder="Write Special Notes ...">{{ comments|default_if_none:"" }}</textarea>
                            </div>
                        </div>
                        <div class="ln_solid col-md-12 col-xs-12 col-sm-12 col-lg-12"></div>

                        {#                            <div class="col-md-2 col-sm-2 col-xs-12">#}
                        {#                                <button type="reset" class="btn btn-lg btn-primary btn-reset">Reset</button>#}
                        {#                            </div>#}
                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                            <button type="submit" class="btn btn-lg btn-success pull-right"
                                    id="btn-place-detailed-commission-booking">Place
                                Order
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <style>
        .red_label label, .red_label h3, .red_label input, .red_label textarea {
            color: red;
        }

        .green_label label, .green_label h3, .green_label input, .green_label textarea {
            color: green;
        }
    </style>

{% endblock %}
{% block js %}
    <script src="{% static "vendor/moment/js/moment.min.js" %}" type="text/javascript"></script>
    <script src="{% static "vendor/select2/js/select2.min.js" %}" type="text/javascript"></script>
    <script src="{% static 'vendor/datepicker/js/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>
    <script src="{% static "vendor/parsley/js/parsley.min.js" %}" type="text/javascript"></script>
    <script src="{% static "vendor/notify/notify.min.js" %}" type="text/javascript"></script>
    <script src="{% static "vendor/nprogress/js/nprogress.min.js" %}" type="text/javascript"></script>
    <script src="{% static "vendor/datepicker/js/bootstrap-datepicker.min.js" %}" type="text/javascript"></script>
    <script src="{% static "aaho/jquery.serializejson.js" %}" type="text/javascript"></script>
    <script src="{% static 'aaho/js/common-dashboard.js' %}?v={% now 'U' %}" type="text/javascript"></script>
    <script>
        $('#detailed_booking_from_city').empty().append('<option value=' + '{{ from_city.id }}' + ' selected>' + '{{ from_city.name }}' + ', ' + '{{ from_city.state }}' + '</option>');

        $('#detailed_booking_to_city').empty().append('<option value=' + '{{ to_city.id }}' + ' selected>' + '{{ to_city.name }}' + ', ' + '{{ to_city.state }}' + '</option>');

        var additional_charges_passed_on = parseInt($('#loading_charges').val()) + parseInt($('#unloading_charges').val()) + parseInt($('#detention_charges').val()) + parseInt($('#other_charges_for_company').val());
        var deductions = parseInt($('#commission').val()) + parseInt($('#lr_cost').val()) + parseInt($('#deduction_for_advance').val()) + parseInt($('#deduction_for_balance').val()) + parseInt($('#any_other_deduction').val());
        var supplier_charged_weight = parseFloat($('#supplier_charged_weight').val());
        var supplier_rate = parseInt($('#supplier_rate').val());
        var party_rate = parseInt($('#party_rate').val());
        var freight_to_owner = supplier_rate * supplier_charged_weight;
        $("#additional_charge_passed_on").val(additional_charges_passed_on);
        $("#freight_owner").val(freight_to_owner);
        $("#total_amount_to_owner").val(freight_to_owner + additional_charges_passed_on - deductions);
        {% if not user|has_group:"emp_group3" %}
            var party_charged_weight = parseFloat($('#charged_weight').val());
            var freight_from_company = party_rate * party_charged_weight;
            {#                $("#freight_from_company").val(freight_from_company);#}
            {#                $("#total_amount_to_party").val(freight_from_company);#}
            var additional_charges_for_company = $('#additional_charges_for_company');
            var deductions_for_company = $('#deductions_for_company');
            $("#freight_from_company").val(freight_from_company);
            $("#total_amount_to_party").val(Math.round(freight_from_company + parseInt(additional_charges_for_company.val()) - parseInt(deductions_for_company.val())));
        {% endif %}
        $("input").change(function () {
            var additional_charges_passed_on = parseInt($('#loading_charges').val()) + parseInt($('#unloading_charges').val()) + parseInt($('#detention_charges').val()) + parseInt($('#other_charges_for_company').val());
            var deductions = parseInt($('#commission').val()) + parseInt($('#lr_cost').val()) + parseInt($('#deduction_for_advance').val()) + parseInt($('#deduction_for_balance').val()) + parseInt($('#any_other_deduction').val());
            var supplier_charged_weight = parseFloat($('#supplier_charged_weight').val());
            var supplier_rate = parseInt($('#supplier_rate').val());
            var party_rate = parseInt($('#party_rate').val());
            var freight_to_owner = supplier_rate * supplier_charged_weight;
            $("#additional_charge_passed_on").val(additional_charges_passed_on);
            $("#freight_owner").val(freight_to_owner);
            $("#total_amount_to_owner").val(freight_to_owner + additional_charges_passed_on - deductions);
            {% if not user|has_group:"emp_group3" %}
                var party_charged_weight = parseFloat($('#charged_weight').val());
                var freight_from_company = party_rate * party_charged_weight;
                {#                $("#freight_from_company").val(freight_from_company);#}
                {#                $("#total_amount_to_party").val(freight_from_company);#}
                var additional_charges_for_company = $('#additional_charges_for_company');
                var deductions_for_company = $('#deductions_for_company');
                $("#freight_from_company").val(freight_from_company);
                $("#total_amount_to_party").val(Math.round(freight_from_company + parseInt(additional_charges_for_company.val()) - parseInt(deductions_for_company.val())));
            {% endif %}
        });
        $('#btn-place-detailed-commission-booking').click(function (e) {
            var detailed_commission_booking_form = $('#detailed-commission-booking-form');
            if (!detailed_commission_booking_form.parsley().isValid()) {
                return true;
            }
            e.preventDefault();
            NProgress.start();
            var data = detailed_commission_booking_form.find(':input').filter(function () {
                return $.trim(this.value).length > 0
            }).serializeJSON();
            $.ajax({
                url: "/api/commission-manual-booking-create/",
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(data),
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader('Authorization', localStorage.getItem('token'));
                }
            }).done(function (response, status) {
                alert(response['msg']);
                $.notify({
                    title: response['msg'],
                    button: 'New Booking'
                }, {
                    style: 'foo',
                    autoHide: false,
                    clickToHide: false,
                    position: "top center",
                    autoHideDelay: 1000
                });
                NProgress.done();
            }).fail(function (jqXHR, status, error) {
                if (jqXHR.status === "401") {
                    redirectToLogin(error);
                }
                else {
                    $.notify('Failed', {
                        position: "top center",
                        autoHideDelay: 1000,
                        clickToHide: true,
                        className: 'error'
                    });
                }
                NProgress.done();
            });
            return false;
        });
    </script>
{% endblock %}