div.tnc_outer_border {
    width: 100%;
    height: 100%;
    border: 2px solid #2B2B2B;
}
div.tnc_title {
    position: relative;
    height: 10%;
}
div.tnc_content {
    height: 90%;
}
div.tnc_title span {
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    margin: 20px;
    right: 0;
    top: 0;
}
div.tnc_title div {
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    padding-top: 15px;
}
div.tnc_right_col {
    width: 50%;
    height: 100%;
    display: inline-block;
    float: left;
}
div.tnc_left_col {
    width: 50%;
    height: 100%;
    display: inline-block;
    float: left;
}
div.tnc_left_col div.tnc_container ol {
    border-right: 2px solid black;
}
div.tnc_container ol {
    padding: 10px 40px 10px 60px;
}
div.tnc_container ol li {
    text-align: justify;
    padding: 5px 10px;
    line-height: 1.3;
    font-size: 14px;
}