{% extends "team/base.html" %}
{% load staticfiles %}
{% load helper_tags_team %}
{% block css %}
    <link href="{% static "vendor/select2/css/select2.min.css" %}" rel="stylesheet" type="text/css">
    <style>
        h5 {
            text-align: center;
        }

        label {
            text-align: center;
        }
    </style>
{% endblock %}
{% block pageTitle %}
    <h3 class="titleTop">Adjust Credit Note Supplier(CNS)</h3>
{% endblock %}
{% block content %}
    <div class="right_col" role="main">
        <div class="">
            {% for row in data %}
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <form class="form-horizontal form-label-left" id="{{ row.form_adjust_cns }}"
                                      data-parsley-validate data-parsley-trigger="keyup"
                                      autocomplete="off">
                                    <input type="hidden" name="credit_amount" value="{{ row.amount }}">
                                    <div class="scroller_anchor"></div>
                                    <div class="col-md-1 col-sm-1 col-lg-1 col-xs-12">
                                        <h5>Issue Date</h5>
                                        <h5><b>{{ row.created_on }}</b></h5>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-lg-1 col-xs-12">
                                        <h5>CNS ID</h5>
                                        <h5><b>{{ row.credit_note_number }}</b></h5>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-lg-1 col-xs-12">
                                        <h5>Approve Date</h5>
                                        <h5><b>{{ row.approved_on }}</b></h5>
                                    </div>


                                    <div class="col-md-1 col-sm-1 col-lg-1 col-xs-12">
                                        <h5>Issued By</h5>
                                        <h5><b>{{ row.created_by }}</b></h5>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-lg-1 col-xs-12">
                                        <h5>Approved By</h5>
                                        <h5><b>{{ row.approved_by }}</b></h5>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-lg-1 col-xs-12">
                                        <h5>CNS Amount</h5>
                                        <h5><b>{{ row.amount }}</b></h5>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                        <h5>Supplier</h5>
                                        <h5><b>{{ row.broker }}</b></h5>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                        <h5>Reason</h5>
                                        <h5><b>{{ row.credit_note_reason }}</b></h5>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                        <h5>Remarks</h5>
                                        <h5><b>{{ row.remarks }}</b></h5>
                                    </div>
                                    <div class=" col-md-12 col-xs-12 col-sm-12 col-lg-12"></div>


                                    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 item form-group ">
                                        <label class="control-label" for="adjusted_bookings">Adjusted Bookings <span
                                                class="required">*</span></label>
                                        <select class="adjusted_bookings form-control" multiple="multiple"
                                                name="bookings[]" style="width: 100%" required>
                                            <option></option>
                                            {% for booking in row.bookings %}
                                                <option value="{{ booking.id }}"
                                                        selected>{{ booking.booking_id }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12 item form-group ">
                                        <label class="control-label" for="owner_phone">Adjusted CNS Amount <span
                                                class="required">*</span></label>
                                        <input type="number" class="form-control"
                                               name="adjusted_amount" placeholder="Enter Credit Note Amount" required>
                                    </div>


                                    <div class="ln_solid col-md-12 col-xs-12 col-sm-12 col-lg-12"></div>


                                    <div class="item form-group col-md-4 col-sm-4 col-lg-4 col-xs-12">
                                        <input type="hidden" name="status" id="{{ row.btn_status }}">
                                        <button type="submit" class="btn btn_adjust_cns  btn-sm btn-success"
                                                id="{{ row.btn_adjust_cns }}"> Adjust
                                        </button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static "vendor/parsley/js/parsley.min.js" %}" type="text/javascript"></script>
    <script src="{% static "vendor/select2/js/select2.min.js" %}"></script>
    <script src="{% static "vendor/notify/notify.min.js" %}" type="text/javascript"></script>
    <script src="{% static "vendor/moment/js/moment.min.js" %}" type="text/javascript"></script>
    <script src="{% static "aaho/jquery.serializejson.js" %}" type="text/javascript"></script>
    <script>
        $(".adjusted_bookings").select2({
                maximumSelectionLength: 100,
                placeholder: "Please add Bookings",
                ajax: {
                    url: '/team/booking-id-data/',
                    delay: 250,
                    data: function (params) {
                        return {
                            search: params.term,
                        };
                    }
                },
                allowClear: true
            }).change(function () {
                $(this).parsley().validate();
            });

            $(".invoice").select2({
                placeholder: "Select Invoice",
                ajax: {
                    url: '/team/invoice-number-data/',
                    delay: 250,
                    data: function (params) {
                        return {
                            search: params.term
                        };
                    }
                },
                allowClear: true
            }).change(function () {
                $(this).parsley().validate();
            });

            $('.btn_adjust_cns').click(function (e) {
                var btn_adjust_cns_id = $(this).attr('id');
                var cns_id = btn_adjust_cns_id.slice(15, 20);
                var adjust_cns_form = $('#form_adjust_cns_' + cns_id);
                if (!adjust_cns_form.parsley().isValid()) {
                    return true;
                }
                NProgress.start();
                var data = adjust_cns_form.serializeJSON();
                var d = new Date();
                data['adjusted_on'] = d.toISOString();
                data['adjusted_by'] = "{{ request.user.username }}";
                if (parseInt(data['credit_amount']) === parseInt(data['adjusted_amount'])) {
                    $('#btn_status_' + cns_id).val('adjusted');

                }
                else if (parseInt(data['adjusted_amount']) < parseInt(data['credit_amount'])) {
                    $('#btn_status_' + cns_id).val('partial');

                }
                else {
                    $('.input_adjusted_amount').val('0');
                    return true;
                }
                $.ajax({
                    url: "/team/update-credit-note-supplier/" + cns_id + '/',
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(data)
                }).done(function (response, status) {
                    $.notify(response['msg'], {
                        position: "top center",
                        autoHideDelay: 1000,
                        clickToHide: true,
                        className: 'success'
                    });
                    NProgress.done();
                    setTimeout(function () {
                        window.location.href = "/team/adjust-credit-note-supplier-page/";
                    }, 4000);

                }).fail(function (jqXHR, status) {
                    $.notify('Failed', {
                        position: "top center",
                        autoHideDelay: 1000,
                        clickToHide: true,
                        className: 'error'
                    });
                    NProgress.done();
                });
                return false;
            });
    </script>
{% endblock %}